.double-block {
  margin: 71px 0 0 0;
}

.double-block-flex {
  display: flex;
  justify-content: space-between;
}

.double-block__left {
  width: 21.4%;
  width: 245px;
}

.double-block__right {
  width: 74.2%;
  width: 846px;
}